@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* start: global styles */
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #f69314;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
    display: inline;
}

h5 {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
}

p {
    margin: 0 0 1rem;
}

button.rounded {
    background: #f69314;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}

p.large-paragraph {
    font-size: 1.25rem;
    font-weight: 300;
}

#opening-background {
    background:  url("images/kenny-gaines-U-d828ayEdw-unsplash.jpg")  center center no-repeat;
    
    
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
   --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.65s;
    
    
    
}

#opening-background .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    /*z-index: 2;*/
    color: #fff;
    width: 500px;
    text-align: center;
   
}


  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /*background: var(--primary-color);*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: orange;
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  
  

#faded-background {
    background: url('images/kenny-gaines-U-d828ayEdw-unsplash.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

#faded-background .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: darkgoldenrod(52, 58, 64, 0.9);
    z-index: 1;
}

#faded-background .hero-text {
    position: absolute;
    top: 50%;
    margin: -75px auto 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: 500px;
    text-align: center;
}


#faded-background .hero-text p {
    line-height: 1.5em;
    font-weight: 300;
    font-size: 1rem;
}
*/

.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    color: darkred;
  }
  .box p{
    text-align: justify;
    font-weight: 200;
    color: lightcoral;
  }
  

#little-about {
   
   background-repeat: no-repeat;
   background-size: cover;
    text-align: center;
    height: 110vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
    
}

#little-about h1 {
    color: orange;
    text-decoration: underline;
}


#little-about button.rounded {
    
    background-color: orange;
    transition-duration: 0.4s;
    color: white;
    margin-top: -70px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    
    
}

#little-about button.rounded:hover {
    background-color: #4CAF50;
    color: white;
  }


#contact {
  background: cornflowerblue ;
    padding: 4rem 0 8rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
    font-size: 3rem;
}

#form-container {
    width: 58%;
    background: #fff;
    padding: 3rem;
    box-sizing: border-box;
    height: 0%;

}

#form-container h3 {
    color: #000;
    font-family: "Playfair Display", serif;
    margin-bottom: 2rem;
}

#form-container label {
    display: block;
    color: #000;
    margin-top: 1rem;
}

#form-container button.rounded{
    background-color: cornflowerblue;
}

#form-container input,
#form-container textarea {
    display: block;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 1rem;
    color: #495057;
}

#form-container textarea {
    height: 170px;
    margin-bottom: 2rem;
    resize: none;
}

#address-container {
    width: 38%;
    background: white;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 0%;
}

#address-container label {
    font-weight: 700;
    display: block;
    margin-top: 2rem;
}

#address-container label:first-child {
    margin-top: 0;
}

#address-container address {
    margin-bottom: 1.5rem;
    font-style: normal;
   
}

#address-container a {
    text-decoration: none;
    color: indigo;
    font-size: 100%;
   
}

#address-container a:hover {
    text-decoration: underline;
}


#skills {
   height: 120vh;
   color: #fff;
   font-family: poppins;
   background-image: url("images/download\ \(1\).jpg");
   background-repeat: no-repeat;
   background-size: cover;
   

  
}

.skills-area {
    width: 55%;
    position: relative;
    float: right;
    margin-top: 110px;
    
}

.box {
    list-style: none;
    
    margin: 0;
    padding: 0;

}

.box li {
    margin-bottom: 50px;
    height: 35px;
    color: mediumvioletred;
   

}

.box li b {
    position: relative;
    top: -40px;
    font-size: 22px;

}


.line {
    height: 5px;
    margin: 2px 0;
    background: maroon;
    position: absolute;
    
}

.box1 {
    width: 90%;
    animation: box1 2s ease-out;
}

.box2 {
    width: 80%;
    animation: box2 2s ease-out;
}

.box3 {
    width: 85%;
    animation: box2 2s ease-out;
}

.box4 {
    width: 70%;
    animation: box2 2s ease-out;
}

.box5 {
    width: 80%;
    animation: box2 2s ease-out;
}

.box6 {
    width: 90%;
    animation: box2 2s ease-out;
}


@keyframes box1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

@keyframes box2{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes box3{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}

@keyframes box4{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

@keyframes box5{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes box6{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
  
 